In [36]:
import pandas as pd
import numpy as np
import matplotlib as plt
import nltk
from nltk.corpus import stopwords
import re
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Perry\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [37]:
low_memory=False

In [38]:
a_2003 = "2003_CSVs/efile_newest_SFO_2003_A.csv"
a_2003_df = pd.read_csv(a_2003)

c_2003 = "2003_CSVs/efile_newest_SFO_2003_C.csv"
c_2003_df = pd.read_csv(c_2003)

f496p3_2003 = "2003_CSVs/efile_newest_SFO_2003_F496P3.csv"
f496p3_2003_df = pd.read_csv(f496p3_2003)

a_2007 = "2007_CSVs/efile_newest_SFO_2007_A.csv"
a_2007_df = pd.read_csv(a_2007)

c_2007 = "2007_CSVs/efile_newest_SFO_2007_C.csv"
c_2007_df = pd.read_csv(c_2007)

f496p3_2007 = "2007_CSVs/efile_newest_SFO_2007_F496P3.csv"
f496p3_2007_df = pd.read_csv(f496p3_2007)

a_2011 = "2011_CSVs/efile_newest_SFO_2011_A.csv"
a_2011_df = pd.read_csv(a_2011)

c_2011 = "2011_CSVs/efile_newest_SFO_2011_C.csv"
c_2011_df = pd.read_csv(c_2011)

f496p3_2011 = "2011_CSVs/efile_newest_SFO_2011_F496P3.csv"
f496p3_2011_df = pd.read_csv(f496p3_2011)

a_2019 = "2019_CSVs/efile_newest_SFO_2019_A.csv"
a_2019_df = pd.read_csv(a_2019)

c_2019 = "2019_CSVs/efile_newest_SFO_2019_C.csv"
c_2019_df = pd.read_csv(c_2019)

f496p3_2019 = "2019_CSVs/efile_newest_SFO_2019_F496P3.csv"
f496p3_2019_df = pd.read_csv(f496p3_2019)

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (32,33,34,35,43,44,50,51,52,69,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (32,42,43,50,51,52,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (28,50,52,58,59,60,61,63) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,42,43,48,49,50,68) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
a_2003_df.head()

,Filer_ID,Filer_NamL,Report_Num,Committee_Type,Rpt_Date,From_Date,Thru_Date,Elect_Date,tblCover_Office_Cd,tblCover_Offic_Dscr,...,Bal_Num,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_RefNo,BakRef_TID,XRef_SchNm,XRef_Match,Loan_Rate,Int_CmteId
0,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
dfs = [a_2003_df, c_2003_df, f496p3_2003_df, a_2007_df, c_2007_df, f496p3_2007_df, a_2011_df, c_2011_df, f496p3_2011_df, a_2019_df, c_2019_df, f496p3_2019_df]

In [41]:
for i, e in enumerate(dfs):
    if i == 0:
        df1 = dfs[0]
    else:
        df2 = e
        df1 = pd.concat([df1, df2], axis = 0)

In [42]:
df1

,Filer_ID,Filer_NamL,Report_Num,Committee_Type,Rpt_Date,From_Date,Thru_Date,Elect_Date,tblCover_Office_Cd,tblCover_Offic_Dscr,...,Bal_Num,Bal_Juris,Sup_Opp_Cd,Memo_Code,Memo_RefNo,BakRef_TID,XRef_SchNm,XRef_Match,Loan_Rate,Int_CmteId
0,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1232850,Committee to Re-Elect Terence Hallinan DA 2003,1,CTL,09/23/2003,01/01/2003,06/30/2003,11/04/2003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/16/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/16/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,09/09/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,08/19/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,991828,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,0,RCP,08/19/2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
cnt = 0
for df in dfs:
    cnt = cnt + df.shape[0]
cnt

101269

In [44]:
columns_to_drop_list = ['Filer_ID', 'Report_Num', 'Rpt_Date', 'From_Date', 'Thru_Date', 'Elect_Date', 'tblCover_Office_Cd', 
                'tblCover_Offic_Dscr', 'Rec_Type', 'Tran_ID', 'Tran_Adr1', 'Tran_Adr2', 'Tran_Type', 'Tran_Date1', 'Tran_Amt1', 
                'Cmte_ID', 'Tres_NamL', 'Tres_NamF', 'Tres_NamT', 'Tres_NamS', 'Tres_Adr1', 'Tres_Adr2', 'Tres_City', 'Tres_State',
                'Tres_Zip', 'Intr_NamL', 'Intr_NamF', 'Intr_NamT', 'Intr_NamS', 'Intr_Adr1', 'Intr_Adr2', 'Intr_City', 'Intr_State',
                'Intr_Zip4', 'Intr_Emp', 'Intr_Occ', 'Intr_Self', 'Cand_NamL', 'Cand_NamF', 'Cand_NamT', 'Cand_NamS', 'tblDetlTran_Office_Cd',
                'tblDetlTran_Offic_Dscr', 'Juris_Cd', 'Juris_Dscr', 'Dist_No', 'Off_S_H_Cd', 'Bal_Name', 'Bal_Num', 'Bal_Juris',
                'Sup_Opp_Cd', 'Memo_Code', 'Memo_RefNo', 'BakRef_TID', 'XRef_SchNm', 'XRef_Match', 'Loan_Rate', 'Int_CmteId']

df2 = df1.drop(columns_to_drop_list, axis = 1)

df2

,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,Tran_State,Tran_Zip4,Tran_Emp,Tran_Occ,Tran_Self,Tran_Date,Tran_Amt2,Tran_Dscr
0,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Addario,Bonnie,NaN,NaN,San Carlos,CA,94070,Olympian Oil,Pres.,n,05/08/2003,300.0,NaN
1,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Biotti,Chris,NaN,NaN,San Francisco,CA,94103,Bank of America,Banker,n,05/08/2003,150.0,NaN
2,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,OTH,AM & CA Capital Investments,NaN,NaN,NaN,San Francisco,CA,94103,NaN,NaN,n,03/17/2003,250.0,NaN
3,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Garriott,Willis,NaN,NaN,Pacifica,CA,94044,Not empl.,Ret.,n,03/17/2003,250.0,NaN
4,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Tsao,David,NaN,NaN,San Francisco,CA,94118,Self-empl. / Same name,Ins. brkr.,n,03/17/2003,250.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
107,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,IND,PETERSON,DAVID,NaN,NaN,ROSS,CA,94957,NONE,RETIRED,n,09/11/2019,15000.0,NaN
108,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
109,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/09/2019,100092.0,NaN
110,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/11/2019,100092.0,NaN

In [45]:
df2.tail()

,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,Tran_State,Tran_Zip4,Tran_Emp,Tran_Occ,Tran_Self,Tran_Date,Tran_Amt2,Tran_Dscr
106,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
107,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,IND,PETERSON,DAVID,NaN,NaN,ROSS,CA,94957,NONE,RETIRED,n,09/11/2019,15000.0,NaN
108,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
109,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/09/2019,100092.0,NaN
110,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/11/2019,100092.0,NaN

In [46]:
df2.shape

(101269, 17)

In [47]:
df2.reset_index(inplace = True, drop = True)

In [48]:
df2.tail()

,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,Tran_State,Tran_Zip4,Tran_Emp,Tran_Occ,Tran_Self,Tran_Date,Tran_Amt2,Tran_Dscr
101264,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
101265,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,IND,PETERSON,DAVID,NaN,NaN,ROSS,CA,94957,NONE,RETIRED,n,09/11/2019,15000.0,NaN
101266,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,COM,SANTA CLARA COUNTY CORRECTIONAL PEACE OFFICERS...,NaN,NaN,NaN,SACRAMENTO,CA,95814,NaN,NaN,n,09/09/2019,5000.0,NaN
101267,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/09/2019,100092.0,NaN
101268,SAN FRANCISCO DEPUTY SHERIFFS' ASSOCIATION POL...,RCP,F496P3,OTH,SAN FRANCISCO DEPUTY SHERIFF'S ASSOCIATION,NaN,NaN,NaN,SAN FRANCISCO,CA,94103,NaN,NaN,n,07/11/2019,100092.0,NaN

In [49]:
da_candidate_committee_list = ['Boudin for District Attorney 2019', 'Nancy Tung for District Attorney 2019', 'Suzy Loftus for District Attorney 2019', 
                              'Leif Dautch for District Attorney 2019', 'GASCON FOR DA 2011', 'Onek for District Attorney 2011',
                              'Sharmin Bock for District Attorney 2011', 'Bill Fazio for District Attorney 2011', 'Vu Trinh for SF District Attorney 2011',
                              'Re-elect District Attorney Kamala Harris', 'KAMALA HARRIS FOR DISTRICT ATTORNEY', 'Committee to Re-Elect Terence Hallinan DA 2003',
                              'Bill Fazio for District Attorney']

In [50]:
harris_df = df2[(df2['Filer_NamL'] == 'KAMALA HARRIS FOR DISTRICT ATTORNEY')]

In [51]:
harris_df

,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,Tran_State,Tran_Zip4,Tran_Emp,Tran_Occ,Tran_Self,Tran_Date,Tran_Amt2,Tran_Dscr
595,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,A,IND,LINNENBACK,CHRISTINE,NaN,NaN,SAN FRANCISCO,CA,94114,JOHN F. PRENTICE & ASSOC,ATTORNEY,n,06/02/2003,100.00,NaN
596,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,A,IND,DE JESUS,PETRA,NaN,NaN,SAN FRANCISCO,CA,94122,"KAZAN, MCCLAIN, ET. AL.",ATTORNEY,n,04/29/2003,200.00,NaN
597,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,A,IND,GREENWOOD,GORDON,NaN,NaN,OAKLAND,CA,94619,"KAZAN, MCCLAIN, ET. AL.",ATTORNEY,n,04/29/2003,500.00,NaN
598,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,A,IND,EMERY,JAMES,NaN,NaN,SAN FRANCISCO,CA,94110,KEKER AND VAN NEST,ATTORNEY,n,05/30/2003,200.00,NaN
599,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,A,IND,HARRIMAN,SUSAN,NaN,NaN,SAN FRANCISCO,CA,94109,"KEKER & VAN NEST, LLP",ATTORNEY,n,03/16/2003,500.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33569,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,C,OTH,"URBAN COMMUNITY REDEVELOPMENTS, LP",NaN,NaN,NaN,SAN FRANCISCO,CA,94107,NaN,NaN,n,12/07/2003,750.00,PARKING
33664,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,C,OTH,PRWT SERVICES,NaN,NaN,NaN,SAN FRANCISCO,CA,94109,NaN,NaN,n,08/16/2003,500.00,POSTAGE
33665,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,C,IND,LEWIS,VALERIE,NaN,NaN,OAKLAND,CA,94619,SAFEWAY,ATTORNEY,n,08/29/2003,361.00,FUNDRAISING EVENT EXPENSES
33666,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,C,IND,DAVIS,DAROLYN,NaN,NaN,SAN FRANCISCO,CA,94111,DAVIS & ASSOCIATES,PRINCIPLE,n,07/22/2003,248.87,FUNDRAISING EVENT EXPENSES
33667,KAMALA HARRIS FOR DISTRICT ATTORNEY,CTL,C,IND,RUTLAND,PATTY JO,NaN,NaN,SAN FRANCISCO,CA,94108,PRWT SERVICES,VP,n,08/18/2003,500.00,FUNDRAISING EVENT EXPENSES

In [52]:
sf_da_df = df2[df2['Filer_NamL'].isin(da_candidate_committee_list)]

In [53]:
sf_da_df

,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,Tran_State,Tran_Zip4,Tran_Emp,Tran_Occ,Tran_Self,Tran_Date,Tran_Amt2,Tran_Dscr
0,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Addario,Bonnie,NaN,NaN,San Carlos,CA,94070,Olympian Oil,Pres.,n,05/08/2003,300.00,NaN
1,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Biotti,Chris,NaN,NaN,San Francisco,CA,94103,Bank of America,Banker,n,05/08/2003,150.00,NaN
2,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,OTH,AM & CA Capital Investments,NaN,NaN,NaN,San Francisco,CA,94103,NaN,NaN,n,03/17/2003,250.00,NaN
3,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Garriott,Willis,NaN,NaN,Pacifica,CA,94044,Not empl.,Ret.,n,03/17/2003,250.00,NaN
4,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Tsao,David,NaN,NaN,San Francisco,CA,94118,Self-empl. / Same name,Ins. brkr.,n,03/17/2003,250.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100940,Suzy Loftus for District Attorney 2019,CAO,C,IND,Caywood-Pye,Carole,NaN,NaN,Bolingbrook,IL,60440-2035,"AmTrust Financial Services, Inc.",Commercial Underwriter,n,10/30/2019,150.00,Refreshments for fundraiser
101105,Leif Dautch for District Attorney 2019,CTL,C,IND,Kim,Henry,NaN,NaN,Vacaville,CA,95688,Luminous Media,Chief Executive Officer,n,04/17/2019,500.00,Filming and Video Production
101106,Leif Dautch for District Attorney 2019,CTL,C,IND,Press,Mark,NaN,NaN,San Francisco,CA,94103,Sonja Trauss For Supervisor,Campaign Consultant,n,03/07/2019,100.00,Food/Beverage for House Party
101107,Leif Dautch for District Attorney 2019,CTL,C,IND,Quinn,John,NaN,NaN,New York,NY,10014,Kaplan Hecker & Fink LLP,Partner,n,03/21/2019,297.66,Food and Beverage
101108,Leif Dautch for District Attorney 2019,CTL,C,IND,Yeh,Kevin,NaN,NaN,San Francisco,CA,94118,Gibson Dunn & Crutcher LLP,Attorney,n,04/17/2019,350.00,Food for Fundraiser

In [54]:
sf_da_df.dtypes

Filer_NamL         object
Committee_Type     object
Form_Type          object
Entity_Cd          object
Tran_NamL          object
Tran_NamF          object
Tran_NamT          object
Tran_NamS          object
Tran_City          object
Tran_State         object
Tran_Zip4          object
Tran_Emp           object
Tran_Occ           object
Tran_Self          object
Tran_Date          object
Tran_Amt2         float64
Tran_Dscr          object
dtype: object

In [58]:
sf_da_df['Tran_Date'] = pd.to_datetime(sf_da_df['Tran_Date'])
sf_da_df.dtypes

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Filer_NamL                object
Committee_Type            object
Form_Type                 object
Entity_Cd                 object
Tran_NamL                 object
Tran_NamF                 object
Tran_NamT                 object
Tran_NamS                 object
Tran_City                 object
Tran_State                object
Tran_Zip4                 object
Tran_Emp                  object
Tran_Occ                  object
Tran_Self                 object
Tran_Date         datetime64[ns]
Tran_Amt2                float64
Tran_Dscr                 object
dtype: object

In [60]:
sf_da_df['police_count'] = sf_da_df["Tran_Occ"].apply(lambda x: True if ('Police' in str(x)) or 
('police' in str(x)) or ('Law Enforcement' in str(x)) or ('law enforcement' in str(x)) or 
('Officer' in str(x)) or ('officer' in str(x)) or ('Public Safety' in str(x)) or 
('public safety' in str(x)) or ('Officer' in str(x)) or ('Sheriff' in str(x)) or ('sheriff' in str(x))
or ('Correction' in str(x)) or ('correction' in str(x) or ('offs' in str(x)) or ('Offs' in str(x)) or 
('Corr.' in str(x)) or ('corr.' in str(x))) or ('Captain' in str(x)) or ('captain' in str(x)) or ('detective' in str(x)) 
or ('Detective' in str(x)) or ('Prison' in str(x)) or ('prison' in str(x)) or ('Jail' in str(x))
 or ('jail' in str(x)) else False )

sf_da_df['police_count'].value_counts()

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

False    17884
True       313
Name: police_count, dtype: int64

In [82]:
pw = ['Police', 'police', 'Law Enforcement', 'law enforcement', 'Officer', 'officer', 'Public Safety', 'public safety', 
 'Sheriff', 'sheriff', 'Correction', 'correction', 'offs', 'Offs', 'Corr.', 'corr.', 'Captain', 'captain', 
 'detective', 'Detective', 'Prison', 'prison', 'jail', 'Jail']
sf_da_df['Tran_Occ_Emp'] = sf_da_df["Tran_Occ"] + ' ' + sf_da_df["Tran_Emp"]

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [86]:
sf_da_df['police_count_both'] = sf_da_df["Tran_Occ_Emp"].apply(lambda x: any(item in str(x) for item in pw))
sf_da_df['police_count_both'].value_counts()

C:\Users\Perry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

False    17840
True       357
Name: police_count_both, dtype: int64

In [87]:
sf_da_df.to_csv('sf_da_df.csv')

In [89]:
#read in DF again after manually removing false positives
sf_da_police_clean = "sf_da_police_clean_df.csv"
sf_da_police_clean_df = pd.read_csv(sf_da_police_clean)
sf_da_police_clean_df

,Unnamed: 0,Filer_NamL,Committee_Type,Form_Type,Entity_Cd,Tran_NamL,Tran_NamF,Tran_NamT,Tran_NamS,Tran_City,...,Tran_Dscr,police_count,police_count_both,Tran_Occ_Emp,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,0,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Addario,Bonnie,NaN,NaN,San Carlos,...,NaN,False,False,Pres. Olympian Oil,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Biotti,Chris,NaN,NaN,San Francisco,...,NaN,False,False,Banker Bank of America,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,OTH,AM & CA Capital Investments,NaN,NaN,NaN,San Francisco,...,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Garriott,Willis,NaN,NaN,Pacifica,...,NaN,False,False,Ret. Not empl.,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Committee to Re-Elect Terence Hallinan DA 2003,CTL,A,IND,Tsao,David,NaN,NaN,San Francisco,...,NaN,False,False,Ins. brkr. Self-empl. / Same name,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18192,100940,Suzy Loftus for District Attorney 2019,CAO,C,IND,Caywood-Pye,Carole,NaN,NaN,Bolingbrook,...,Refreshments for fundraiser,False,False,Commercial Underwriter AmTrust Financial Servi...,NaN,NaN,NaN,NaN,NaN,NaN
18193,101105,Leif Dautch for District Attorney 2019,CTL,C,IND,Kim,Henry,NaN,NaN,Vacaville,...,Filming and Video Production,False,False,Chief Executive Officer Luminous Media,NaN,NaN,NaN,NaN,NaN,NaN
18194,101106,Leif Dautch for District Attorney 2019,CTL,C,IND,Press,Mark,NaN,NaN,San Francisco,...,Food/Beverage for House Party,False,False,Campaign Consultant Sonja Trauss For Supervisor,NaN,NaN,NaN,NaN,NaN,NaN
18195,101107,Leif Dautch for District Attorney 2019,CTL,C,IND,Quinn,John,NaN,NaN,New York,...,Food and Beverage,False,False,Partner Kaplan Hecker & Fink LLP,NaN,NaN,NaN,NaN,NaN,NaN
18196,101108,Leif Dautch for District Attorney 2019,CTL,C,IND,Yeh,Kevin,NaN,NaN,San Francisco,...,Food for Fundraiser,False,False,Attorney Gibson Dunn & Crutcher LLP,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
from_police = sf_da_police_clean_df[sf_da_police_clean_df['police_count_both']==True].groupby(['Filer_NamL'])[[ 'Tran_Amt2']].sum()
no_police = sf_da_police_clean_df[sf_da_police_clean_df['police_count_both']==False].groupby(['Filer_NamL'])[[ 'Tran_Amt2']].sum()
combined_sf_da_df = no_police.merge(from_police, on='Filer_NamL').reset_index()
combined_sf_da_df.columns = ['Candidate Committee', 'Non-Police Donations', 'Police Donations']
combined_sf_da_df

,Candidate Committee,Non-Police Donations,Police Donations
0,Bill Fazio for District Attorney,318203.00,11275.00
1,Bill Fazio for District Attorney 2011,52812.00,1800.00
2,Boudin for District Attorney 2019,1132000.17,300.00
3,Committee to Re-Elect Terence Hallinan DA 2003,428685.45,1950.00
4,Onek for District Attorney 2011,328032.56,6930.00
5,Re-elect District Attorney Kamala Harris,470175.49,1000.00
6,Sharmin Bock for District Attorney 2011,1204746.18,5145.00
7,Suzy Loftus for District Attorney 2019,713968.74,7169.19